*{box-sizing: border-box;}
body{font-family:Tahoma, sans-serif;}

.quiz_app{
    margin: auto;
    width: 700px;
    background-color: #efefef;
    padding: 20px;
}
.quiz_info{
    background-color: #ffffff;
    display: flex;
    padding: 20px;
}
.quiz_info .category{
    flex: 1;
}
.quiz_info .count{
    flex: 1;
    text-align: right;
}

.Quiz_area{
    background-color: #ffffff;
    padding: 10px;
    margin: 10px 0px ;
}

.answer_area{
    background-color: #dfdfdf;
    padding: 20px 0px;
}
.answer{
    padding: 10px;
    
    margin: 0px;

}

.answer:not(:last-child){
    border-bottom: 1px solid rgb(170, 169, 169)
}
.answer label {
    position:relative;
    top: -2px;    
    font-size: 14px;
    font-weight: bold;
    color: rgb(73, 73, 73);
    cursor: pointer;
}


.answer input[type="Radio"]:checked + label{
    color: #0075ff;
}

.submit_btn{
    background-color: #0075ff;
    border: none;
    width: 100%;
    padding: 20px;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.submit_btn:focus{
    outline: none;
}
.bullits{
    background-color: #efefef;
    padding: 15px;
    display: flex;
}
.bullits .spans{
    display: flex;
    flex: 1;
}

.bullits .spans span{
    width: 20px;
    height: 20px;
    background-color: rgb(167, 167, 167);
    border-radius: 50%;
    margin-left: 5px;

}

.bullits .spans span.on{
    background-color: #0075ff;
}

 .result span {
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
  }
   .result span.bad {
    color: #dc0a0a;
  }
   .result span.good {
    color: #009688;
  }
   .result span.perfect {
    color: #0075ff;
  }

  .res{
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(65, 64, 64);
  }